[Unit]
Description=Periodically checks if symbol database needs updating
ConditionPathExists=/var/lib/DEET/

[Service]
Type=simple
ExecStart=/usr/bin/deet-updatedb

